{% extends 'base.html' %}
<header>
    <center><h1>MAKERS BLOG</h1></center>
</header>

{% block content %}
    {% for post in posts %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
<div class="container">
  <div class="well">
      <div class="media" style="width: 100%;">
      	<a class="pull-left" href="#">
    		<img class="media-object" src="">
                <img src="{{ post.photo.url}}" style="max-width: 300px;">
  		</a>
  		<div class="media-body">
            <h4 class="media-heading"><a href="{% url 'post_detail' post.pk %}">Title: {{ post.title }}</a></h4>
          <p class="text-right">Author: {{ post.author }}</p>
          <p>Text: {{ post.body }}</p>
          <ul class="list-inline list-unstyled">
  			<li><span><i class="glyphicon glyphicon-calendar"></i>{{ post.date }}</span></li>
            <li>|</li>
            <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>

			</ul>
       </div>
    </div>
  </div>
   {% endfor %}
{% endblock content %}