
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- details card section starts from here -->
{% extends 'base.html' %}
{% block content %}
<section class="details-card">
    <div class="container">
        <div class="row">
            {% for post in posts %}

            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <img src="{{ post.photo.url}}" style="max-width: 200px;">
                        <span><h4>{{ post.author }}</h4></span>
                    </div>
                    <div class="card-desc">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.body }}</p>
                        <button><a href="{% url 'post_detail' post.pk %}">READ</a></button>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock content %}
<!-- details card section starts from here -->